@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*:before,
*:after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing:border-box
}

:active,
:hover,
:focus{
    outline: none!important;
    outline-offset: 0;
}

a,
a:hover{
    text-decoration: none;
}

a:hover{
    color: var(--primary-color)!important;
}

ul,ol{
    margin: 0;
    padding: 0;
}

:root{
    --primary-color:#A82C48;
    --secoundry-color:#43121D;
    --third-color:#f98169;
    --white-color:#fff;
    --text-color:#555;
    --black-color:#000;
    --primary-font:'roborto',sans-serif;
    --secoundry-font:'quicksand',sans-serif
}
html{
    scroll-behavior: smooth;
}

body{
    font-size: 100%;
    font-family: var(--primary-font);
    font-weight: 400;
}

/* custom scrollbar */

::-webkit-scrollbar{
    width:0.625rem;
}
::-webkit-scrollbar-track{
    background:var(--white-color);
}
::-webkit-scrollbar-thumb{
    background:var(--primary-color);
}

h1{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 3rem;
    color: var(--secoundry-color);
}

h2{
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 3rem;
    color: var(--secoundry-color);
    font-family: var(--secoundry-font);
    line-height: 3rem;
    text-transform: capitalize;
}

h4{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 3rem;
    font-family: var(--secoundry-font);
    text-transform: capitalize;
}
h5{
color: var(--primary-color);
font-family: var(--secoundry-font);
font-weight: 700;
font-size: 1rem;
text-transform: capitalize;
margin-bottom: 0.5rem;
}
p{
font-size: 1rem;
letter-spacing: 1px;
font-weight: 400;
line-height: 1.75;
color: var(--text-color);
}
.main-button
{
    display: inline-block;
    padding: 0.625rem 1.875rem;
    line-height: 1.5625rem;
    background-color: var(--primary-color);
    border:0.1875rem var(--primary-color);
    font-size: 0.9375rem;
    color: var(--white-color);
    font-weight: 600;
    text-transform: capitalize;
    box-shadow: 0px 2px 10px -1px rgb(0 0 0/19%);
    -webkit-transition: all .4s ease-out 0s;
    -o-webkit-transition: all .4s ease-out 0s;
    -moz-webkit-transition: all .4s ease-out 0s;
    transition: .4s ease-out 0s;
}
.white-button
{
    display: inline-block;
    padding: 0.625rem 1.875rem;
    line-height: 1.5625rem;
    background-color: var(--white-color);
    border:0.1875rem var(--white-color);
    font-size: 0.9375rem;
    color: var(--text-color);
    font-weight: 600;
    text-transform: capitalize;
    box-shadow: 0px 2px 10px -1px rgb(0 0 0/19%);
    -webkit-transition: all .4s ease-out 0s;
    -o-webkit-transition: all .4s ease-out 0s;
    -moz-webkit-transition: all .4s ease-out 0s;
    transition: .4s ease-out 0s;

}

.main-button:hover
{
    background-color: transparent;
    color: var(--primary-color);
}

.white-btn:hover
{
    background-color: transparent;
    color: var(--primary-color);
    border: var(--primary-color);
}

.wrapper{
    padding: 8.25rem 0rem;
}

.text-content{
    width: 70%;
    margin: auto;
}

.counter-section h2,.testimonial-section h2,.book-food-text h2
{
    color: var(--white-color);
}

.navbar img
{
    width: 100px;
    height: 100px;
}
/* HEADER SECTION */

.navigation-wrap{
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 1000;
    transition: 0.3s ease-out;
    -webkit-transition: 0.3s ease-out;
}

.navigation-wrap .nav-item{
    padding: 0 0.625rem;
    transition: all 200ms linear;
}

.navbar-toggler button:focus{
    outline: unset;
    border: none;
}

.nav-link{
    font-size: 0.9375rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--primary-color);
}

.navbar .main-button{
    padding: 0.3125rem 1.4125rem;
    margin-left: 0.6rem;
    border: none; 
}

/* CHANGE NAVBAR STYLE ON SCROLL */

.navigation-wrap .scroll-on{
    position: fixed;
    top: 0;
    left: 0;
    background:var(--white-color);
    width: 100%;
    transition: all .15s ease-in-out 0s;
    box-shadow: 0 0.125rem 1.75rem rgb(0,0,0,0.9);
    /* height: 200px; */
}

.top-banner
{
    background: url(background.jpg) no-repeat center;
    background-size: 100% 100%;
    padding: 12.375rem 0 9.125rem;
    width: 100%;
    height: 100vh;
}

/* COUNTER-SECTION CSS */
.counter-section
{
    background-color: var(--primary-color);
    padding: 2.5rem 0rem;
}
.counter-section p{
    color: var(--white-color);
    text-transform: uppercase;
}

/* ABOUT SECTION CSS */

.about-section
{
  background: var(--white-color);
}
.about-section .card,
.about-section .card img{
    border-radius: 0.925rem;
}

.food-type ul li{
    font-size: 22px;
    color: var(--text-color);
    margin-left: 32px;
    position: relative;
}
.food-type ul li::before{
    position: absolute;
    left: -2.1875rem;
    font-size: 1.25rem;
    color: var(--primary-color);
    display: inline-block;
    font-family: "Font Awesome 6 Free";
    content:'\f058';
    vertical-align: middle;
}

.story-section{
    width: 100%;
    height: 28.125rem;
    background-image: url(../images/overlay.jpg) no-repeat center;
    background-size: cover;
}
.story-section h1,p{
    color: var(--primary-color);
}
.explore-food-section .card,.explore-food-section .card img{
    border-radius: 0.9735rem;
}
.explore-food-section img{
 width: 100%;
 height: 300px;
}
.explore-food-section span del{
    color: grey;
}

/* TESTIMONIAL CSS */

.testimonial-section{
    background: var(--primary-color);
}
.testimonial-section .carousel-item{
    background: var(--white-color);
    margin-top: 1px;
    padding: 7rem 3.125rem;
    text-align: center;
    border-radius: 0.9375rem;
}
.testimonial-section .carousel-item img{
    max-width: 10rem;
    max-height: 10rem;
    padding: 0.3125rem;
    border-radius: 50%;
    text-align: center;
}
.testimonial-section .carousel-indicators{
    bottom: -3rem;
}
.testimonial-section .carousel-indicators button{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    outline: none;
    border: none;
    margin-top: 3rem;
    opacity: .2;
}
.testimonial-section .carousel-indicators button.active{
    opacity: 1;
}
.testimonial-section .carousel-caption{
    padding: -3rem 2rem;
}

.faq-section span{
    color: var(--primary-color);
}
.book_food{
    background: url("../images/paralax.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    background-position: 0 71.9125px;
    padding: 4.375rem 0;
}
.book_food h2{
    color: var(--white-color);
}

.newsletter{
    width: 75%;
    margin: 0 auto;
}
.newsletter .form-control{
    height: 3.125rem;
    background: transparent;
    border-radius:none;
    padding: 0 1.25rem;
    font-size: 0.875rem;
    font-weight: 400;
    border: 0.1875 grey;
    width: 100%;
}



/* FOTTER SECTION CSS */

.fotter{
    background: var(--primary-color);
    font-size: 1rem;
}
.fotter a {
    color: white;
}

.fotter a:hover{
    color: black;
}

.fotter i{
    font-size: 2rem;
}
.fotter p{
    color: white;
}
@media(max-width:991px){
    .testimonial-section .carousel-item{
        padding:-3rem 2rem;
        margin: 10rem 10rem;
    }   
}

@media(max-width:767px){
    .newsletter .form-control{
        width: 100%;
    }
    .newsletter .main-button{
        margin: 1rem 0rem;
        width: 100%;
        
    }

    .fotter i{
        padding: 1rem 0rem;
    }
}
